* {
	margin: 0;
	padding: 0;
}
.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear:both;
}
header {
	background: rgba(0, 0, 0, 0.7) url("img/header_bg0.png") top center;
	background-blend-mode:multiply;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.container{
	width: 1199px;
	margin: 0 auto;   
}
.rowmenu {
	padding-top: 70px;
}
p.logo {
	font: bold 32px/34px Verdana;
	color: #fe504f;
	float: left;
}
ul {
	list-style: none;
	float: right;
}
.menu li {
	padding-left: 45px;
	display: inline;	
	font: 14px/16px Verdana;
	text-transform: uppercase;
}
.menu li:first-child {
	padding-left: 0;
}
a {
	text-decoration: none;
	color: #fff;	
}
menu a {
	padding-bottom: 10px;
}
.active, .menu a:active, .menu a:hover {
	border-bottom: 3px solid #fe504f;
}
header .h1-descr_b, 
header .p-descr_b {
	text-align: left;
}
.h1-descr_b {
	color: #fff;	
}
header .h1-descr_b {
	font: bold 60px/62px Verdana;
	margin-top: 180px;
}
.p-descr_b {
	font: 20px/22px Verdana;
	color: #fff;
	margin-top: 45px;	
	width:  calc(70%);
}
a.buttons {	
	display: inline-block;
	font: 20px/18px Verdana;
	padding: 25px 50px;
	border-radius: 30px;
}
header a.buttons {	
	margin: 75px 30px 250px 0;
}
.buttonprofit {
	position: absolute;
	top: 280px;
	right: 15px;
}
.buttonprofit:after {
	content: "";
	position: absolute;
	border: 8px solid transparent;
	border-left: 10px solid #fe504f;
	right: -14px;
}
.buttonprofit:hover:after {
	border-left: 10px solid #c53f3e;
}
a.buttonprofit {
	font: bold 12px/14px Verdana;
	padding: 10px 5px;
	border-radius: 5px;
}
.row {
	width: 100%;
}
.inputdatas input[type="submit"], 
button, 
.buttons {
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.button-red {
	background: #fe504f;
}
.inputdatas input[type="submit"]:hover,
button:hover,
.button-red:hover {
	background: #c53f3e;
}
.button-black {
	background: #343434;
}
.button-black:hover {
	background: #1a1a1a;
}
.h1-descr_w, .p-descr_w {
	text-align: center;
}
#services {
	padding-top: 50px;
}
.h1-descr_w {
	font: bold 24px Verdana;
	text-transform: uppercase;
	margin-bottom: 30px;
}
#services p {
	padding-bottom: 10px;
}
.textunderline {
	width: 25%;
	height: 3px;
	border-bottom: 3px solid #fe504f;
}
#services .textunderline {
	margin: 0 auto;
}
/*#services>h1+p {*/
.p-descr_w {
	font: 16px Verdana;
	color: #adadad;
	width: 75%;
	margin: 0 auto;
}
/*#services .p-descr_w {
	width: 75%;
	margin: 0 auto;
}*/
#services>.row {
	margin-top: 55px;
}
#services>.row:last-child {
	margin-bottom: 75px;
}
#services .col-1_4 {
	text-align: center;
}
.serv-items {	
	width: 80%;
	margin: 0 auto;
}
#services h2 {
	width: 90%;
	margin: 0 auto;
	font: bold 16px Verdana;
	padding-top: 15px;
	padding-bottom: 10px;
}
#services .col-1_4 p {
	padding-top: 15px;
	font: 14px Verdana;
	color: #aeaeae;
}
.h1-descr_b, 
.p-descr_b {
	text-align: center;
}
#contactus {
	background:rgba(0, 0, 0, 0.7) url("img/contactus_bg.png") no-repeat top;
	background-blend-mode:multiply;
	background-size: cover;
	position: relative;
	z-index: 16;
}
#contactus:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(127, 127, 127, 0.4);
	background-image: radial-gradient(black 33%, transparent 33%);
	background-size: 5px 5px;
	z-index: -1;
}
#contactus h1 {
	padding-top: 110px;
	font: bold 34px Verdana;
	text-transform: uppercase;
}
#contactus .row {
	text-align: center;
}
#contactus a.buttons {
	margin-top: 40px;
	margin-bottom: 90px;
}
#aboutus h1 {
	padding-top: 25px;
}
#aboutus>p {
	padding-bottom: 70px;
}
#clients {
	margin-bottom: 60px;
}
.capitalredtext {
	color: #fe504f;
	font: bold 20px Verdana;
	text-transform: uppercase;
}
#aboutus .textunderline {
	width: 10%;
	margin-top: 15px;
	margin-bottom: 25px;
}
.descr {
	width: 92%;
	color: #343434;
	font: 14px/24px Verdana;
}
#ourteam {
	margin-bottom: 80px;
}
#ourteam .textunderline {
	margin-top: 15px;
	width: 50px;
	margin-bottom: 30px;
}
.slider-buttons {
	text-align: center;
}
.slider-button-left, .slider-button-right {
	display: inline-block;
	margin-right: 10px;
	width: 35px;
	height: 10px;
	background: #fe504f;	
}
.slider-button-left:hover, .slider-button-right:hover {
	background:#c53f3e;
}
.teamimg {
	width: 200px;
	height: 200px;
	margin: 0;
	padding: 0;
	margin-left: -4px;
	display: inline-block;	
}
.teamimg-container {
	width: 100%;
	height: 100%;
	padding: 20px;
	color: #fff;
}
.teamimg-line {
	height:1px;
	background:#bb3030;
	margin-top: 45px;
	display: none;
}
.teamimg-container:hover .teamimg-line {
	display: block;
}
.teamimg-container p {
	display: none;
}
.teamimg-container:hover p {
	display: table;
}
#teamimg_name {
	font: bold 32px Verdana;	
}
#teamimg_role1 {
	font: bold 12px Verdana;
	margin-top: 10px;
	margin-bottom: 10px;
}
#teamimg_role2 {
	font: 12px Verdana;
}
.teamimg:nth-child(n+7) {
	margin-top: -4px;
}
.teamimg:nth-child(n):hover {
	background: #fe504f;
}
.teamimg:nth-child(1) {
	background: URL("img/team1.png") no-repeat top center;
}
.teamimg:nth-child(2) {
	background: URL("img/team2.png");
}
.teamimg:nth-child(3) {
	background: URL("img/team3.png");
}
.teamimg:nth-child(4) {
	background: URL("img/team4.png");
}
.teamimg:nth-child(5) {
	background: URL("img/team5.png");
}
.teamimg:nth-child(6) {
	background: URL("img/team6.png");
}
.teamimg:nth-child(7) {
	background: URL("img/team7.png");
}
.teamimg:nth-child(8) {
	background: URL("img/team8.png");
}
.teamimg:nth-child(9) {
	background: URL("img/team9.png");
}
.teamimg:nth-child(10) {
	background: URL("img/team10.png");
}
.teamimg:nth-child(11) {
	background: URL("img/team11.png");
}
.teamimg:nth-child(12) {
	background: URL("img/team12.png");
}
#videoblock {
	background:rgba(0, 0, 0, 0.7) url("img/videoblock.png") no-repeat top;
	background-blend-mode:multiply;
	background-size: cover;
	position: relative;
	z-index: 16;
	padding-top: 80px;
	color: #fff;
	text-align: center;
}
#videoblock:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(127, 127, 127, 0.4);
	background-image: radial-gradient(black 33%, transparent 33%);
	background-size: 5px 5px;
	z-index: -1;
}
.video-play {	
	width: 90px;
	height: 90px;
	background: url("img/videoplay.png");
	border-radius: 50%;
	margin:0 auto;
	cursor: pointer;
}
#videostart {
	display: none;
}
.video-descr {
	width: 83%;
	margin:0 auto;
}
#videoblock h1 {
	font: bold 34px Verdana;
	text-transform: uppercase;
	margin-top: 35px;
	margin-bottom: 30px;	
}
#videoblock p {
	font: 16px Verdana;
	padding-bottom: 85px;
}
#newsblock {
	padding-top: 80px;
	text-align: center;
	margin-bottom: 80px;
}
#newsblock .news-text h1 {
	color: #000;
	font: bold 24px Verdana;
	text-transform: uppercase;
	margin-bottom: 35px;
}
#newsblock .news-text p {
	color: #afafaf;
	font: 16px Verdana;
	width: 90%;
	margin-bottom: 80px;
}
#pics1>.col-1_2 {
	background: url("img/newspic1.png");
	height: 300px;
}
#pics1>div:nth-of-type(2), #pics2>div:nth-of-type(1), #pics2>div:nth-of-type(3) {
	background: #343434;
	height: 300px;
}
#pics1>div:nth-of-type(2):after {
	content: ''; 
	position: absolute;
	margin-left: -192px;
	margin-top: -220px;
	border: 25px solid transparent;
	border-right: 25px solid #343434;
}
#pics2>div:nth-of-type(1):after {
	content: ''; 
	position: absolute;
	margin-left: 155px;
	margin-top: -220px;
	border: 25px solid transparent;
	border-left: 25px solid #343434;
}
#pics2>div:nth-of-type(3):after {
	content: ''; 
	position: absolute;
	margin-left: 70px;
	margin-top: -317px;
	border: 25px solid transparent;
	border-bottom: 25px solid #343434;
}
#pics1 div:nth-of-type(3) {
	background:url("img/newspic2.png");
	height: 300px;
}
#pics2 div:nth-of-type(2) {
	background:url("img/newspic3.png");
	height: 300px;
}
.news-pics-cell-container {	
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 20px;
	text-align: left;
}
.news-pics-cell-header, .news-pics-cell-date {
	color: #fe504f;
}
.news-pics-cell-header {
	text-transform: uppercase;
	font: bold 20px/26px Verdana;
	margin-bottom: 10px;
}
.red-line50 {
	height: 3px;
	background: #fe504f;
	width: 50px;	
}
.news-pics-cell-text {
	color: #fff;
	font: 12px/20px Verdana;
	margin-top: 10px;	
}
.news-pics-cell-date {
	text-align: right;
	font: 12px Verdana;
	margin-top: 30px;
}
#contacts {
	background: rgba(0, 0, 0, 0.7) url("img/contacts_bg.png") top center;
	background-blend-mode:multiply;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#contacts>.container {
	padding-top: 80px;
}
#contacts .col-1_2:first-child h1 {
	color: #fe504f;
	font:bold 32px Verdana;
	text-transform: uppercase;
}
#contacts .col-1_2:first-child>p {
	margin-top: 35px;
	color: #fff;
	font: 14px Verdana;
	margin-bottom: 30px;
}
#contacts .icons-info {
	margin-top: 40px;
}
.icon {
	margin-bottom: 20px;
	cursor: pointer;
}
.icon:hover img {
	background: rgba(0,0,0,0.7);
	background-blend-mode: multiply;
}
.icon>p {
	display: inline-block;
	margin-left: 15px;
	color: #fff;
	font: bold 12px Verdana;
	text-transform: uppercase;
}
/*.icon>img {	
	margin-bottom: -10px;
}*/
.icon i {
	color: #fe504f;
	font-stretch: expanded;
	font-size: 22px;
	padding: 3px;
}
.icon:last-child i {
	font-size: 16px;
	padding-top: 5px;
}
.icon-img {
	display: inline-block;
	width: 30px;
	height: 30px;
	border:1px solid #fe504f;
	text-align: center;
}
.icon-img:hover {
	border-color: #c53f3e;
}
.icon i:hover {
	color: #c53f3e;
}
#contacts .col-1_2:last-child {
	padding-left: 100px;
}
#contacts .col-1_2:last-child h1 {
	color: #fe504f;
	font:bold 24px Verdana;
	text-transform: uppercase;
	margin-bottom: 10px;
}
#contacts .col-1_2:last-child>p {
	margin-top: 25px;
	color: #fff;
	font: 14px Verdana;
	margin-bottom: 40px;
}
.inputdatas {
	width: 89%;
}
.inputdatas input, .inputdatas textarea, .inputdatas div {
	width: 100%;
}
.inputdatas input, .inputdatas textarea {
	background: transparent;
	border-style: none;
	border:1px solid #afafaf;
	color: #afafaf;
	padding: 15px;
	margin-bottom: 15px;
	font:14px Verdana;
}
.inputdatas input:focus, .inputdatas textarea:focus {
	background: #555;
}
.inputdatas div {
	position: relative;
	margin-bottom: 90px;
} 
.inputdatas input[type="submit"] {
	position: absolute;
	width: 130px;
	border-radius: 20px;
	border-style: none;
	padding: 10px;
	color: #fff;
	background: #fe504f;
	right: 0;
	cursor: pointer;
}
footer {
	background: #343434;
	padding-top: 40px;
}
footer p {
	color: #fff;
	font:bold 12px Verdana;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 20px;
}
footer .col-1_2:last-child div {
	width: 89%;
}
footer ul {
	display: inline-block;
	list-style: none;
}
footer ul li {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	padding-left: 15px;
	margin-left: 5px;	
	border-left: 1px solid #fe504f;
}
footer ul li a {
	font-size: 22px;
	color: #fe504f;
}
footer ul li a:hover {
	color: #c53f3e;
}
footer ul li:first-child {
	margin-left: 0;
	border-left: none;
}