@media screen and (max-width: 780px) and (min-width: 310px) {
.header-text {background: blue;}
/*tablet screen*/
.container {
	width: 480px;
	min-width: 400px;
}
.topimg {			
	height: 7px;
}
.header-text {
	height: 70px;
}
.header-text p, .header-text p>a {
	font-size: 17px;
	letter-spacing: 1px;
}
nav {
	font: 15px/18px Arial;
	padding-top: 5px;
	float: left !important;
	width: 100%;
}
.logo {
	width: 239px;
	height:230px;
}
.text {
	font-size: 12px;
}
.text, .info>p {
	letter-spacing: -1px;
}
.bear-text img {
	width: 150px;
}
.list-gift {
	font-weight: bold;
	font-size: 12px;
}
.list-gift ul>li {
	background-size: 27px 27px !important;
}
.info>p {
	font-size: 24px;
}
.stripe {
	width: 385px;
	height: 28px;
	font-size: 16px;
	line-height: 24px;
}
.medvs {
	width: 95px;
	height: 90px;
	margin-right: 2% !important;
}
.big {
	width: 326px;
	height:298px;		
}
.medv_choose, .medv_options {
	height: 79px;
	margin-bottom: 4px;
}
.medv_choose {
	width: 79px;
}
.medv_options {
	width: 250px;
	margin-left: 7px;
}
.checks p {
	font: 11px Verdana;
	letter-spacing: -1.5px;
}
.checks input[type="checkbox"] {
	height: 13px;
	width: 13px;
}
.checks1 {
	width: 24px;
	margin-top: 10%;
	margin-left: 24px;
}
.checks2 {
	width: 50px;
	margin-top: 20px;
	margin-left: 30px;
}
.checks31, .checks32 {
	width: 70px;
	margin-top: 6px;
	margin-left: 20px;
}
.descr, footer>ul>li>a {
	font: 10px Verdana;	
}
.makeorder a {
	width: 295px;
	height: 25px;
}
.makeorder em {
	margin-left: 95px;
	margin-top: 10px;
	font-size: 12px;
}
}