* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.content {
	width: 80%;
	~height: 100vh;
	~height: 100%;
	margin: 0 auto;
	padding:0 30px 40px 30px;
	box-shadow: 
	5px 0 15px -4px rgba(5, 5, 5, 0.2), 
	-7px 0 8px -4px rgba(5, 5, 5, 0.2);
}
header,section, footer {
	padding:0 30px;
}
header {
	text-align: center;
	padding-top: 55px;
	color: #35142F;
}
header h1 {
	letter-spacing: 0.2em;
	font-weight: 600;
}
header h1, header h2 {
	margin-bottom: 25px;
}
img {
	border-radius: 20px;
	width: 15%;
	margin-bottom: 20px;
}
section p {
	padding-top: 30px;
}
ul {
	margin:20px 30px;
}
ul li {
	padding-top: 7px;
}
footer, footer p:nth-child(odd)  {
	padding-top: 10px;
}
footer, footer p {
	padding-bottom: 5px;
}
footer p:nth-child(2) span {
	color: #444;
	padding-right: 5px;
}
.content>p:first-of-type {
	padding-top: 25px;
}
.content>p {
	font-size: 0.8em;
	color: #333;
	padding-bottom: 10px;
}